# Version control.
.git/
.jj/

# MacOS leaves these around.
*.DS_STORE

# We don't want to dictate how others do dev shells.
# (That said, populate this with "use flake").
.envrc
.direnv/

# Junk produced by VHDL compilation.
*.cf

# Python / pytest / cocotb artifacts.
__pycache__/
*.pyc
.pytest_cache/
sim_build/
